%color-white {
    color: #FFFFFF;
}

%color-beige {
    color: #CACACA;
}

%bgcolor-orange {
    background: #FFC839;
}

%color-black {
    color: #000000;
}

%color-grey {
    color: #323232;
}

%weight-thin {
    font-weight: 400;
}

%weight-bold {
    font-weight: 600;
}

%weight-ex-bold {
    font-weight: 700;
}

%bgcolor-white {
    background: #FFFFFF;
}